---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: tasks.arl.infra.io
spec:
  group: arl.infra.io
  names:
    kind: Task
    listKind: TaskList
    plural: tasks
    singular: task
  scope: Namespaced
  versions:
  - name: v1alpha1
    additionalPrinterColumns:
    - jsonPath: .status.state
      name: State
      type: string
    - jsonPath: .status.exitCode
      name: ExitCode
      type: integer
    schema:
      openAPIV3Schema:
        description: Task is the Schema for the tasks API
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            description: TaskSpec defines the desired state of Task
            properties:
              sandboxRef:
                type: string
              steps:
                items:
                  properties:
                    command:
                      items:
                        type: string
                      type: array
                    content:
                      type: string
                    env:
                      additionalProperties:
                        type: string
                      type: object
                    name:
                      type: string
                    type:
                      type: string
                  required:
                  - name
                  - type
                  type: object
                type: array
              timeout:
                type: string
            required:
            - sandboxRef
            - steps
            type: object
          status:
            description: TaskStatus defines the observed state of Task
            properties:
              completionTime:
                format: date-time
                type: string
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              duration:
                type: string
              exitCode:
                format: int32
                type: integer
              startTime:
                format: date-time
                type: string
              state:
                type: string
              stderr:
                type: string
              stdout:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
